---
import TagsComponent from "./TagsComponent.astro"
---
<div id="matchedResults" class="hidden mb-6">
  <span class="text-sm text-indigo-600 font-medium">
    Showing <span class="font-bold underline text-base" id="matchCount">0</span>
    matched results
  </span>
</div>
